[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = SammyG
	email = geller.sammy@gmail.com
[core]
	excludesfile = /Users/trexdex/.gitignore_global
	editor = vim
[color]
	ui = true
